body {
  background-color: #white;
  font-family: garamond, serif;
}

/* Style the header */
header {
  background-color: #373737;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: #fff;
}

/*style for glowing header*/

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px , 0 0 10px , 0 0 15px #7A1712, 0 0 20px #7A1712, 0 0 25px #7A1712, 0 0 30px #7A1712, 0 0 35px #7A1712;
  }

  to {
    text-shadow: 0 0 10px , 0 0 20px #9B1003, 0 0 30px #9B1003, 0 0 40px #9B1003, 0 0 50px #9B1003, 0 0 60px #9B1003, 0 0 70px #9B1003;
  }
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

img {
  float: left;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #edd6a0;
  padding: 10px;
}
