body {
  background-color: #white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
}

/* Style the header */
header {
  background: #EDF5E1;
  padding: 30px;
  text-align: center;
  font-size: 45px;
}




/*style for glowing header*/

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px , 0 0 4px , 0 0 6px #7A1712, 0 0 8px #7A1712, 0 0 10px #7A1712, 0 0 12px #7A1712, 0 0 14px #7A1712;
  }

  to {
    text-shadow: 0 0 10px , 0 0 4px #9B1003, 0 0 8px #9B1003, 0 0 12px #9B1003, 0 0 16px #9B1003, 0 0 20px #9B1003, 0 0 24px #9B1003;
  }
}

/*for dropdown menu*/

div.scrollmenu {
  background-color: #161616;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #EDF5E1;
  padding: 10px;
}

div.about {
  padding-top: 40px;
}

aside {
  font-color: white;
}

/*position for self image */
right {
  object-position: right;
  width: 35%;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #161616;
  flex: 1;
  padding: 1rem;
}

/*for slideshow images*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: left;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: left;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*end slideshow images*/

.right-half {
  background-color: #161616;
  flex: 1;
  padding: 1rem;
}

div.film {
  text-align: center;
  color: white;
}

div.a {
  text-align: center;
  color: #b93a39;
}


.centered img {
  width: 150px;
  border-radius: 50%;
}

div {
  border: 0px;
  padding: 0px;
}

iframe {
  position: center;
}
