body {
  background-color: #white;
  font-family: garamond, serif;
}

/* Style the header */
header {
  background-color: #373737;
  padding: 0px;
  text-align: center;
}

/*style for glowing header*/

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px , 0 0 10px , 0 0 15px #7A1712, 0 0 20px #7A1712, 0 0 25px #7A1712, 0 0 30px #7A1712, 0 0 35px #7A1712;
  }

  to {
    text-shadow: 0 0 10px , 0 0 20px #9B1003, 0 0 30px #9B1003, 0 0 40px #9B1003, 0 0 50px #9B1003, 0 0 60px #9B1003, 0 0 70px #9B1003;
  }
}
