.mySlides {display:none;}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #b93a39;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #edd6a0;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #edd6a0;
  padding: 10px;
}

aside {
  padding: 20px;
  background-color: #f5f5f5;
}

summary {
  padding: 20px;
  background: #edd6a0;
}

/* Style the footer */
footer {
  background-color: #b93a39;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #f5f5f5;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #f5f5f5;
  flex: 1;
  padding: 1rem;
}

div.a {
  text-align: center;
  color: #b93a39;
}

div.b {
  color: #b93a39;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

div {
  border: 0px;
  padding: 0px;
}

.clearfix {
  overflow: auto;
}

.video {
float: right;
padding: 10px;
}
