body {
font-family: Arial, Helvetica, sans-serif;
background-color: #bab9b9
}


/*navbar*/

ol,ul {
	list-style: none;
}

div.scrollmenu li {
	display:inline-block;
	width:10%;
	float:left;
	margin-left:0px;
}

div.scrollmenu {
  background-color: #161616;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}

div.scrollmenu a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

div.scrollmenu a.active {
  background-color: #689775;
}



/* Style the header */
header {
  background-color: #a33327;
  padding: 30px;
  text-align: center;
  font-size: 45px;
}




/*style for glowing header*/

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px , 0 0 4px , 0 0 6px #7A1712, 0 0 8px #7A1712, 0 0 10px #7A1712, 0 0 12px #7A1712, 0 0 14px #7A1712;
  }

  to {
    text-shadow: 0 0 10px , 0 0 4px #9B1003, 0 0 8px #9B1003, 0 0 12px #9B1003, 0 0 16px #9B1003, 0 0 20px #9B1003, 0 0 24px #9B1003;
  }
}

h2 {
  text-align: center;
}

section {
  margin: 20px auto;
  text-align: center;
}

.recipe-flex {
  margin: 20px auto;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  text-align: center;
}

.recipe-flex div {
  display: flex;
	padding-left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
}

.Randombutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 40%;
}
